<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
    <h1>Sign in</h1>
    <form id="signin" name="signin" method="post" action="signin">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
      <a href="/signup">Sign up</a>
    </form>
  </div>
  <div class="col-sm-3">
  </div>
</div>

